<!-- add_edit.ejs
Group 2
July 25th, 2022 -->

<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= ticket._id %>"
                    >
                    <label for="ticketTextField">Name</label>
                    <input type="text" class="form-control"
                        id="ticketTextField"
                        placeholder="Enter your name"
                        name="name" 
                        value="<%= ticket.name %>"
                        required>
                </div>
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="email" class="form-control"
                        id="emailTextField"
                        placeholder="Enter your email"
                        name="email" 
                        value="<%= ticket.email %>"
                        >
                </div>
                <div class="form-group">
                    <label for="ticketStatusTextField">Status</label>
                    <select class="form-control"
                        id="ticketStatusTextField"
                        placeholder="New"
                        name="ticketStatus" 
                        value="<%= ticket.ticketStatus %>"
                        required>                        
                        <option value="New" name="New">New</option>
                        <option value="Cancelled" name="Cancelled">Cancelled</option>
                        <option value="Resolved" name="Resolved">Resolved</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="What is the issue?"
                    name="ticketDescription" 
                    value="<%= ticket.ticketDescription %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="recordnumTextField">Record Number</label>
                    <input type="datetime" class="form-control"
                    id="recordnumTextField"
                    name="recordnum" 
                    value="<%= ticket.recordnum %>"
                    placeholder="YYYY-DD-MM"
                    required>
                </div>
                <div class="form-group">
                    <label for="priorityTextField">Priority</label>
                    <input type="text" class="form-control"
                    id="priorityTextField"
                    placeholder="Low"
                    name="ticketPriority" 
                    value="<%= ticket.ticketPriority %>"
                    required>
                </div>

                <br/>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>